body {
  background-color: black;
  
 }
 h6{
  text-align: center;
  margin-top: 0px;
  font-size: 100px;
  margin-bottom: 30px;
  
}

h5{
  text-align: left;
  margin-top: 0px;
  font-size: 50px;
  margin-bottom: -50px;
}
h4{
  text-align: right;
  margin-top: 0px;
  font-size: 50px;
  margin-bottom: 30px;
}


 h6 span:nth-child(1) {
  color : #4285f4 ;
}
h6 span:nth-child(2) {
  color : #ea4335 ;
}
h6 span:nth-child(3) {
  color : #fbbc05 ;
}
h6 span:nth-child(4) {
  color : #4285f4 ;
}
h6 span:nth-child(5) {
  color : #34a853 ;
}
h6 span:nth-child(6) {
  color : #ea4335 ;
}

table th:nth-child(1) {
  color : white ;
}
table th:nth-child(2) {
  color : white ;
}
table th:nth-child(3) {
  color : white ;
}
table th:nth-child(4) {
  color : white ;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h2 span{
  color: white;
}
